* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.title {
  margin: 0;
  padding: 30px 0;
  text-align: center;
  font-size: 72px;
}

#map {
  width: 900px;
  height: 500px;
  margin: auto;
  border: 2px solid #000;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.btn {
  margin: 0 5px;
  padding: 10px 20px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #a5a5a5;
  color: #fff;
  border: none;
  transition: all .3s ease;
  cursor: pointer;

  &-success {
    background-color: #106e10;

    &:hover {
      background-color: lighten(#106e10, 5%)
    }
  }

  &-danger {
    background-color: #a91717;

    &:hover {
      background-color: lighten(#a91717, 5%)
    }
  }
}

.leaflet {
  &-marker {
    &-icon {
      width: auto !important;
    }
  }
}